@layer reset, base;

@layer reset {
	:root {
		color-scheme: dark;
		overflow-y: scroll;
		scroll-behavior: smooth;
		scrollbar-width: thin;
		scrollbar-color: dark;
		font: normal normal normal 62.5% / 1.35 system-ui;
		interpolate-size: allow-keywords;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
		margin: 0;
	}

	fieldset,
	input,
	button,
	textarea,
	select,
	option,
	label,
	legend,
	progress,
	meter,
	output,
	time {
		display: block;
		font-size: inherit;
	}

	:is(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table):has(
		+ :is(h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, table)
	) {
		margin-block: 0 2rem;
	}

	:is(p, ul, ol, blockquote, pre, table):has(+ :is(h1, h2, h3, h4, h5, h6)) {
		margin-block: 0 4rem;
	}

	a {
		text-decoration: none;
		color: currentColor;
	}

	ul,
	ol {
		padding-inline-start: 3rem;

		&[role="list"] {
			list-style: none;
			padding: 0;

			li {
				margin: 0;
			}
		}
	}

	img,
	picture,
	figure,
	iframe,
	video,
	svg {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
	}

	svg * {
		transform-box: fill-box;
		transform-origin: center;
	}

	[popover] {
		margin: auto;
	}
}

@layer base {
	@media (prefers-reduced-motion: no-preference) {
		@view-transition {
			navigation: auto;
		}
	}

	::view-transition-old(root) {
		animation: 2s cubic-bezier(0.36, 0, 0.64, 1) slide-out;
	}
	::view-transition-new(root) {
		animation: 2s cubic-bezier(0.36, 0, 0.64, 1) slide-in;
	}

	@keyframes slide-out {
		from {
			translate: 0%;
			opacity: 1;
		}

		to {
			translate: -100%;
			opacity: 1;
			scale: 0.75;
		}
	}
	@keyframes slide-in {
		from {
			translate: 100%;
			opacity: 0;
		}

		to {
			translate: 0%;
			opacity: 1;
		}
	}

	body {
		font-size: 2rem;
	}
}
